.jornal {
    background-color: lightgray;
    min-height: 100vh;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto auto 1fr;
    row-gap: 0 24px;

    .jornal-title {
        color: slategray;
        font-weight: 900;
        font-size: 32px;
        // letter-spacing: 30px;
        text-transform: uppercase;
        text-align: center;
    }

    .jornal-header {
        display: grid;
        grid-auto-flow: column;

        .header-link {
            background-color: slategray;
            box-shadow: 2px 2px 4px rgba(112, 128, 144, 0.623);
            color: white;
            text-decoration: none;
            text-align: center;
            border-radius: 8px;
            margin: 8px;
            padding: 4px;
        }
    }

    .jornal-body {
        display: grid;
    }
}
